@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}
@theme {
  --color-dark-purple: #0d112c;
}

body {
  background: #e2e8f0;
}

.purple-gradient-1 {
  @apply bg-gradient-to-r from-[#0D112C] via-[#8F9ED9] to-[#2F3687] bg-clip-text text-transparent;
}
.purple-gradient-2 {
  @apply bg-gradient-to-r from-[#8F9ED9]  to-[#CAD5E2] bg-clip-text text-transparent;
}
